<layout [contentWide]="contentWide">
  <section main-body>
    <form-title [text]="mainTitle"></form-title>

    <form
      class="ui form"
      *ngIf="appForm"
      [ngClass]="{ 'loading': isLoading }"
      [formGroup]="appForm"
    >
      <section class="ui segment">
        <form-input
          [config]="formInputs.first"
          formControlName="first">
        </form-input>

        <form-input
          [config]="formInputs.second"
          formControlName="second">
        </form-input>
        
        <form-input
          [config]="formInputs.third"
          formControlName="third">
        </form-input>
        
        <result-label [config]="result"></result-label>
      </section>
    </form>
  </section>
</layout>